<app-contact-bar></app-contact-bar>
<app-accademia-danza-navbar>Orari</app-accademia-danza-navbar>

<div class="container-centered">
    <div class="row">
        <div class="col-12">
            <label class="headings-title">{{location}}</label>
        </div>
        <div class="col-12" style="padding-right: 4px; padding-left: 4px;">
            <ng-container *ngFor="let hourTable of filterByLocation(); index as i">
                <p style="text-align: start;">
                    <button class="planning-element" type="button" data-toggle="collapse"
                        [attr.data-target]="'#multiCollapseExample'+ i" aria-expanded="false"
                        [attr.aria-controls]="'multiCollapseExample'+ i"><fa-icon [icon]="faSortDown"></fa-icon>
                        &nbsp;{{hourTable.dayName}}</button>
                </p>
                <div class="row" style="margin-top: 0px;">
                    <div class="col" style="padding-right: 4px; padding-left: 4px;">
                        <div class="collapse multi-collapse" [id]="'multiCollapseExample'+ i">
                            <div class="card card-body planning-element" style="padding: 0px;">
                                <table class="table planning-element">
                                    <thead>
                                        <tr>
                                            <ng-container *ngFor="let room of hourTable.programs.rooms">
                                                <th scope="col">{{room}}</th>
                                            </ng-container>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of hourTable.programs.lessons; let rowIndex = index"
                                            [hidden]="rowIndex % hourTable.programs.rooms.length !== 0">
                                            <td [style.width]="100 / hourTable.programs.rooms.length + 'vw'" 
                                            style="text-align: center; vertical-align: middle; white-space: break-spaces; height: 80px;"
                                                *ngFor="let col of hourTable.programs.lessons.slice(rowIndex, rowIndex + hourTable.programs.rooms.length)">
                                                {{ col }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>