<app-contact-bar></app-contact-bar>
<app-scuola-danza-navbar>Concorsi</app-scuola-danza-navbar>
<div class="container-centered">
    <div style="color: white; text-align: start;">
        <ng-container *ngFor="let data of dataSource">
            <ng-container *ngFor="let concorso of data.listaConcorsi">
                <p> {{concorso}}</p>
            </ng-container>
            <br><br>
            <ng-container *ngIf="data.immaginiSuccessive.length > 0">
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let immagini of data.immaginiSuccessive">
                        <ng-template carouselSlide> <img
                                [src]="'../resources/images/scuola-danza/concorsi/'+immagini"></ng-template>
                    </ng-container>
                </owl-carousel-o>
            </ng-container>
            <br>
        </ng-container>
    </div>
</div>