<div class="container">
    <div class="row" style="text-align: center; font-size: 10px; color: var(--nsd-white)">
        <div class="col-4">
            info&#64;newstyledance.it 
        </div>
        <div class="col-3">
            <a href="https://www.instagram.com/scuoladanzanewstyledance" class="link-social">Instagram</a>
        </div>
        <div class="col-2">
            <a href="https://www.facebook.com/scuoladanzanewstyledance" class="link-social">Facebook</a>
        </div>
        <div class="col-3">
            3384421180
        </div>
    </div>
</div>