<app-contact-bar></app-contact-bar>
<app-centro-formazione-navbar>Chi siamo</app-centro-formazione-navbar>
<div class="container-centered">
    <div class="description-container">
        <br>
        <p>
            La New Style Dance, è un centro innovativo per la danza a 360°. Oltre a offrire corsi per allievi di ogni
            età e livello, propone percorsi formativi per insegnanti con rilascio di diploma e tesserino tecnico
            <a href="https://www.libertasnazionale.it/">Libertas</a>.
            <br>
            <br>
            <img src="../../../resources/images/logo-libertas.png" style="width: 100%;"/>
            <br>
            <br>
            La nostra missione è creare una comunità unita dalla passione per la danza e offrire
            esperienze uniche.
        </p>
        <br>
        <h1 class="logo-title">Certificazioni</h1>
        <p>
            Sono disponibili corsi per diventare istruttori di:
            <br>Per il 2° e 3° anno, si introdurrà:
            <br>• Danze Caraibiche
            <br>• Danza Classica
            <br>• Fitness
            <br>• Pilates
        </p>
        <br>
        <h1 class="logo-title">Come partecipare?</h1>
        <p>
            Per informazioni e costi:
            <br>• Giovanna Villa: 3384421180
            <br>• Email: info&#64;newstyledance.it
        </p>
        <br>
        <br>
    </div>
</div>