<app-contact-bar></app-contact-bar>
<app-eventi-danza-navbar>Produzioni</app-eventi-danza-navbar>
<div class="container-centered">
    <div class="description-container">
        <br>
        <p>
            Di seguito, presentiamo l’elenco dettagliato delle nostre più recenti e significative produzioni:
        </p>
        <br>
        <a href="../../../resources/file/eventi-danza/produzioni/DIVAS.pdf">
            <img src="../../../resources/file/eventi-danza/produzioni/Divas.png" style="width: 100%;" />
        </a>
        <br><br>
        <a href="../../../resources/file/eventi-danza/produzioni/fashion show.pdf">
            <img src="../../../resources/file/eventi-danza/produzioni/Fashion show.png" style="width: 100%;" />
        </a>
        <br><br>
        <a href="../../../resources/file/eventi-danza/produzioni/IO COME.pdf">
            <img src="../../../resources/file/eventi-danza/produzioni/Io come Dorian Gray.png"
                style="width: 100%;" /></a>
        <br><br>
        <a href="../../../resources/file/eventi-danza/produzioni/tutto su mimì giusto.pdf">
            <img src="../../../resources/file/eventi-danza/produzioni/Tutto su Mimì.png" style="width: 100%;" />
        </a>
        <br><br>
    </div>
</div>