<app-contact-bar></app-contact-bar>
<app-eventi-danza-navbar>Chi siamo</app-eventi-danza-navbar>
<div class="container-centered">
    <div class="description-container">
        <br>
        <p>
            EVENTI IN DANZA è un'azienda specializzata nella produzione di spettacoli a 360 gradi, offrendo esperienze
            artistiche complete e coinvolgenti. Le nostre produzioni si svolgono al <a
                href="https://cinemateatrogiglio.it/">Nuovo Teatro Giglio</a> di Inzago,
            portando in scena emozioni e creatività.
        </p>
        <p>
            Per informazioni e costi:
            <br>• Lino Villa: 3338484116
            <br>• Email: eid.linovilla&#64;gmail
        </p>
        <br>
        <img src="../../../resources/file/eventi-danza/presentazione/1.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/2.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/3.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/4.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/5.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/6.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/7.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/8.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/9.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/10.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/11.png" style="width: 100%;"/>
        <img src="../../../resources/file/eventi-danza/presentazione/12.png" style="width: 100%;"/>
    </div>
</div>
<br>
<br>