<div *ngIf="false" class="preloader">
      <div class="preloader-body">
            <div class="cssload-container">
                  <div class="cssload-speeding-wheel"></div>
            </div>
            <p>Loading...</p>
      </div>
</div>

<div *ngIf=" showPromotion" (click)="showPromotion = false">
      <img src="../resources/images/promozioni/estate_24.png" class="img-promozionale">
</div>

<div class="page" style="background-color: black;">
      <router-outlet></router-outlet>
</div>