<app-contact-bar></app-contact-bar>
<app-scuola-danza-navbar>Orari</app-scuola-danza-navbar>

<div class="container-centered">
    <div class="row">
        <div class="col-12">
            <label class="headings-title">{{location}}</label>
        </div>
        <div class="col-12" style="padding-right: 4px; padding-left: 4px;">
            <ng-container *ngFor="let hourTable of filterByLocation(); index as i">
                <p style="text-align: start;">
                    <button class="planning-element" type="button" data-toggle="collapse"
                        [attr.data-target]="'#multiCollapseExample'+ i" aria-expanded="false"
                        [attr.aria-controls]="'multiCollapseExample'+ i"><fa-icon [icon]="faSortDown"></fa-icon>
                        &nbsp;{{hourTable.dayName}}</button>
                </p>
                <div class="row" style="margin-top: 0px;">
                    <div class="col" style="padding-right: 4px; padding-left: 4px;">
                        <div class="collapse multi-collapse" [id]="'multiCollapseExample'+ i">
                            <div class="card card-body planning-element" style="padding: 0px;">
                                <table class="table planning-element">
                                    <thead>
                                        <tr>
                                            <th scope="col">Orari</th>
                                            <ng-container *ngFor="let room of hourTable.programs.rooms">
                                                <th scope="col">{{room}}</th>
                                            </ng-container>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let time of hourTable.programs.times">
                                            <td>{{ time }}</td>

                                            <ng-container *ngFor="let col of [1,2,3]">
                                                <td *ngIf="!isCovered(time, col, hourTable.programs)"
                                                    [attr.rowspan]="getLesson(time, col, hourTable.programs)?.span || null">
                                                    {{ getLesson(time, col, hourTable.programs)?.name || '-' }}
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>