<app-contact-bar></app-contact-bar>
<app-scuola-danza-navbar>Chi siamo</app-scuola-danza-navbar>
<div class="container-centered">
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let galleryImgage of galleryPrincipaleImgages">
            <ng-template carouselSlide> <img
                    [src]="'../resources/images/scuola-danza/gallery-principale/'+galleryImgage"></ng-template>
        </ng-container>
    </owl-carousel-o>
    <p style="color: white; text-align: start;">
        New Style Dance apre i battenti il primo ottobre del 2010 quasi come scommessa,
        sulla base di un sogno che esiste da quando sei poco più che adolescente, e da quella forza
        e determinazione che crede di poter dare al paese (Vignate) quello di cui necessita e,
        in questo caso, un centro dove poter insegnare la danza a 360°.
        <br><br>
        Il nostro scopo è quello di creare, un centro di studio specifico e innovativo dove la danza,
        passione che accomuna tutti i partecipanti, sia la base per costruire nuovi rapporti tra ragazzi,
        con le famiglie e perché no anche con persone di altre età, così da renderli veri protagonisti.

        È importante per noi che i rapporti allacciati direttamente con allievi, e famiglie non siano fine a se stessi,
        vorremmo continuare a mantenere una sorta di attività scuola-famiglia, con l’obbiettivo di collaborare
        per creare opportunità ed esperienze per ogni livello: da quello semplicemente amatoriale fino
        ad arrivare alle grandi competizioni.
        <br><br>
        <img src="../resources/images/scuola-danza/photo_5922582420706673417_y.jpg">
        <br><br>
        Vantiamo di un ottimo numero d’iscritti che siamo riusciti, nel corso degli anni,
        a raggiungere grazie soprattutto alla serietà, professionalità e notevoli percorsi formativi dei nostri
        insegnanti/professionisti che prima di tutto ballano per passione. Siamo riusciti a realizzare quanto
        ci eravamo prefissati all’apertura, offrire “quel qualcosa in più” che la “classica” scuola di danza non offre,
        riuscendo a portare a termine nuove iniziative tra cui campus, feste e spettacoli che noi abbiamo definito
        “un po’ fuori dal comune”.
        <br><br>
        Una location di circa 300 mq con 3 sale, ci permetterà di soddisfare a pieno i nostri allievi,
        completare la nostra immagine, e vedere realizzato così il nostro sogno!!!!
    </p>
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let galleryImgage of gallerySedeImgages">
            <ng-template carouselSlide> <img
                    [src]="'../resources/images/scuola-danza/gallery-sede/'+galleryImgage"></ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
<br>
<br>