<app-contact-bar></app-contact-bar>
<app-accademia-danza-navbar>Chi siamo</app-accademia-danza-navbar>
<div class="container-centered">
    <div class="description-container">
        <br>
        <p>
            N.S.D SCHOOL ACCADEMY nasce con l’ idea di dare ai giovani talenti e artisti un nuovo format di studio, dato
            dall’ esperienza internazionale e dall’unione di realtà reali e future per i giovani artisti, con la
            direzione artistica del coreografo Lino Villa.
        </p>
        <br><br>
        <img src="../../../resources/images/accademia-danza/photo_5922582420706673412_y.jpg" style="width: 100%;"/>
        <br><br>
        <h1 class="logo-title">Composizione del corso</h1>
        <p>
            Il corso è composto da 35 ore settimanali dal lunedì al sabato di formazione (150 ore mensili di studio,
            1350 annue di preparazione.)
            <br>
            <br>Un esempio qui sotto del primo anno di corso:
            <br>
            <br>
            <img src="../../../resources/images/accademia danza - esempio programma formazione.png" />
            <br>
            <br>
            *Per visualizzare gli orari di questo anno si può consultare la <a routerLink="/accademia-danza-orari"
                [queryParams]="{ 'location' : locations[0]}">pagina dedicata</a>
            <br>
            <br>Per il 2° e 3° anno, si introdurrà:
            <br>• Canto
            <br>• Luminotecnica
            <br>• Drammaturgia
            <br>• Flamenco
            <br>• Composizione coreografica
        </p>
        <br><br>
        <img src="../../../resources/images/accademia-danza/photo_5922582420706673411_y.jpg" style="width: 100%;"/>
        <br><br>
        <h1 class="logo-title">Certificazioni ed esami</h1>
        <p>
            Un percorso accademico triennale con certificazione europea, CONI e LIBERTAS, più 2 anni di specialistica
            all’interno della compagnia “EVENTI IN DANZA”.
            <br><br>
            Verrà rilasciato annualmente un attestato riconosciuto dal
            CONI di livello, alla fine del percorso quinquennale verrà rilasciato un tesserino tecnico e un patentino di
            insegnante di danza con qualifica europea riconosciuta dal CONI.
            <br><br>
            Durante gli anni accademici verrà fatto un primo esame di sbarramento dopo 5 mesi di studio ed un esame
            finale
            per accedere all’anno successivo.
        </p>
        <br>
        <h1 class="logo-title">Scuole serali</h1>
        <p>
            N.S.D. metterà in contatto gli studenti con varie scuole
            serali superiori, per il raggiungimento del diploma di maturità superiore. Le scuole serali che suggeriremo
            daranno agli studenti agevolazioni nello studio per eventuali concorsi e spettacoli.
            <br><br>
            Per alloggi N.S.D. vi consiglierà le zone dove poter alloggiare per aver una migliore organizzazione degli
            spostamenti e della logistica.
        </p>
        <br><br>
        <img src="../../../resources/images/accademia-danza/photo_5922582420706673413_y.jpg" style="width: 100%;"/>
        <br><br>
        <h1 class="logo-title">Insegnanti</h1>
        <p>
            Per arricchire questo percorso N.S.D. si avvale di insegnanti e coreografi internazionali, e collaborazioni
            come Mia Molinari, Virgilio Pitzalis, Mattia Cuda e <a [routerLink]="['/accademia-danza-docenti']"
                routerLinkActive="router-link-active">molti altri</a>.
            <br><br>L’accademia dispone di un teatro stabile <a href="https://cinemateatrogiglio.it/">(NUOVO CINEMA
                TEATRO GIGLIO)</a> nel quale faranno un’esperienza diretta con varie compagnie internazionali.
        </p>
        <br>
        <h1 class="logo-title">A chi è rivolto il percorso?</h1>
        <p>
            L’ accademia è rivolta a tutti gli allievi dai 14 ai 20 anni e lo studente sarà seguito con un focus e un
            programma personalizzato in base all’ età e agli obiettivi
        </p>
        <br>
        <h1 class="logo-title">Come partecipare?</h1>
        <p>
            Per informazioni e costi:
            <br>• Giovanna Villa: 3384421180
            <br>• Email: info&#64;newstyledance.it
        </p>
        <br>
        <br>
    </div>
</div>