<app-contact-bar></app-contact-bar>
<app-accademia-danza-navbar>Dove siamo</app-accademia-danza-navbar>
<div class="container-centered">
    <ng-container *ngFor="let location of locations">
        <div class="row">
            <div class="col-12 col-lg-6">
                <label class="headings-title">{{location.nome}}</label><br>
                <label class="headings-sub-title">{{location.indirizzo}}</label>
                <br>
                <br>
            </div>
            <div class="col-12 col-lg-6" (click)="redirectTo(location.linkMaps)">
                <img [src]="'../../../resources/images/sede/'+location.nome+'.png'" />
            </div>
        </div>
    </ng-container>
</div>